#imageGallery {
    border-radius: 50px;
    width: 400px;
    height: 300px;
}

img {
    border-radius: 30px;
    width: 600px;
    height: 300px;
}

#timer {
    font-size: 60px;
    margin-top: 20px;
}
